.amazon-bar {
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 10px 14px !important;
    border: 1px #ddd solid;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 11px;
    color: red;
}

.ungate-button {
    display: block !important;
}

.ungate-button .a-button-text {
    padding: 0 10px !important;
}

.ungate-button:focus, .ungate-button:active {
    outline: none;
}

.amazon-ad-container {
    height: 100px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background: #232f3f;
    font-size: 17px;
    font-weight: normal;
}

.amazon-product-title {
    font-size: 17px;
    margin-bottom: 12px;
}

table.amazon-detail-table {
    border-collapse: collapse;
    font-size: 16px;
}

table.amazon-detail-table tr td {
    border: 1px #ddd solid;
    padding: 10px;
}

.text-success {
    color: #007600;
}

.text-danger {
    color: #d00;
}

.bg-danger {
    color: #d00;
}

.bg-success {
    color: #007600;
}
